/data/raw/olist_customers_dataset.csv
/data/raw/olist_geolocation_dataset.csv
/data/raw/olist_order_items_dataset.csv
/data/raw/olist_order_payments_dataset.csv
/data/raw/olist_order_reviews_dataset.csv
/data/raw/olist_orders_dataset.csv
/data/raw/olist_products_dataset.csv
/data/raw/olist_sellers_dataset.csv
/data/raw/product_category_name_translation.csv
/data/processed/olist_data.db